# NEO4J
NEO4J_URI=
NEO4J_USER=
NEO4J_PASSWORD=

# Huggingface
HUGGINGFACEHUB_API_TOKEN=

# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_KEY_ID=
REGION=
BUCKET_NAME=

# Chroma
CHROMA_PERSIST_DIR=
CHROMA_DB_IMPL=
