# Huggingface
HUGGINGFACEHUB_API_TOKEN=

# Model
MODEL_NAME=
CACHE_DIR=

# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_KEY_ID=
REGION=
BUCKET_NAME=

# Chroma
CHROMA_DB_URI=

# RabbitMQ
RABBITMQ_HOST=
RABBITMQ_QUEUE=

# Neo4j
NEO4J_URI=
NEO4J_USER=
NEO4J_PASSWORD=
