[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
requests = "*"
beautifulsoup4 = "*"
yake = "*"
rake-nltk = "*"
konlpy = "*"
neo4j = "*"
python-dotenv = "*"
torch = "*"
transformers = "*"
python-multipart = "*"
boto3 = "*"
scikit-learn = "*"
langchain = "*"
pydantic-settings = "*"
chromadb = "*"
pika = "*"
celery = "*"
redis = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.12"
