[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
requests = "*"
beautifulsoup4 = "*"
rake-nltk = "*"
konlpy = "*"
python-dotenv = "*"
torch = "*"
transformers = "*"
boto3 = "*"
scikit-learn = "*"
langchain = "*"
pydantic-settings = "*"
chromadb = "*"
celery = "*"
redis = "*"
coverage = "*"
aio-pika = "*"
langchain-openai = "*"
openai = "*"
langchain-community = "*"
pylint = "*"
loguru = "*"
sqlmodel = "*"
psycopg2-binary = "*"
asyncpg = "*"
alembic = "*"
greenlet = "*"
aiohttp = "*"
pgvector = "*"
psutil = "*"

[dev-packages]
pytest-asyncio = "*"
pytest = "*"
pytest-cov = "*"
aiosqlite = "*"

[requires]
python_version = "3.12"
